{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="yalda fazel">
  <link href="{% static 'fanavar/css/profile-new-password.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>تغییر رمز عبور </title>
  <style>
    .p-error {
        margin-top: -20px;
        margin-bottom: -20px;
        margin-right: 30px;
    }
  </style>
</head>

<body>

  <div id="site-body">
    <!-- header -->
    {% include 'fanavar/shared/header_base.html' %}


    <!-- right box -->
    {% include 'profile/shared/profile_sidbar.html' %}


     

        <!-- main box -->
        <section id="main-box" dir="rtl">

            <p class="caption">تغییر رمز عبور</p>
            <div class="n-p-form">
                <form method="post">  
                    {% csrf_token %}
                   {{ change_password.password_back}}
                   {% for error in change_password.password_back.errors %}
                   <p style="color: brown;" class="p-error">{{error}}</p>
                   {% endfor %}
                   {{ change_password.new_password }}
                   {% for error in change_password.new_password.errors %}
                   <p style="color: brown;" class="p-error">{{error}}</p>
                   {% endfor %}
                   {{ change_password.confirm_new_password }}
                   {% for error in change_password.confirm_new_password.errors %}
                   <p style="color: brown;" class="p-error">{{error}}</p>
                   {% endfor %}
                   <button type="submit">ثبت</button>
                </form>
    
            </div>
            
        </section>    


        <!-- footer-box -->
    {% include 'fanavar/shared/footer_base.html' %}

  </div>
  
  </body>
  
      <!-- footer-box -->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
      {% load sweetify %}
      {% sweetify %}
      </html>