{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="yalda fazel">
  <link href="{% static 'fanavar/css/profile-add-ticket.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>حساب کاربری</title>
</head>

<body>

  <div id="site-body">
    <!-- header -->
    {% include 'fanavar/shared/header_base.html' %}


    <!-- right box -->
    {% include 'profile/shared/profile_sidbar.html' %}


     

        <!-- main box -->
        <section id="main-box" dir="rtl">

            <h3>افزودن تیکت</h3>
            
            <!-- add-ticket-form -->
            <div class="a-t-form">
                <form method="post"> 
                    {% csrf_token %} 
                
                    <input type="text" name="title" placeholder="عنوان تیکت" required="">

                    <select class="list" name='subject'>

                        <option value="" disabled="disabled" selected="select" >نوع تیکت</option>
                        
                        <option value="t" >درخواست اعمال تغییرات</option> 
                        
                        <option value="m">درخواست مشاوره</option>
                        
                        <option value="s">درخواست سفارش</option>
                        
                        <option value="g">گزارش مشکل</option>
                        
                        <option value="d">سایر...</option> 
                        
                        </select>

                        <textarea name="descriptions" id="comment" cols="30" rows="10" placeholder="توضیحات"></textarea>
                    <button type="submit">ارسال</button>
                </form>
            </div>
           

        </section>


        <!-- footer-box -->
      </div>
      {% include 'fanavar/shared/footer_base.html' %}

    </div>
    
    </body>
    
        <!-- footer-box -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        {% load sweetify %}
        {% sweetify %}
        </html>