/* Webfont: Yekan */
@font-face {
    font-family: 'Yekan';
    src: url('./Yekan-font-master/Yekan.eot');
    /* IE9 Compat Modes */
    src: url('./Yekan-font-master/Yekan.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./Yekan-font-master/Yekan.woff2') format('woff2'),
        /* Modern Browsers */
        url('./Yekan-font-master/Yekan.woff') format('woff'),
        /* Modern Browsers */
        url('./Yekan-font-master/Yekan.otf') format('opentype'),
        /* Open Type Font */
        url('./Yekan-font-master/Yekan.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-display: auto;
}

* {
    margin: 0;
    padding: 0;
}

/* body */
#site-body {
    width: 1500px;
    height: 700px;
    margin: auto;
    font-family: 'Yekan';
}

/* header */
header {
    width: 1500px;
    height: 60px;
}

/* navbar */
ul li {
    float: right;
    list-style-type: none;
    margin: 30px 20px 0px 15px;
}

ul li a {
    text-decoration: none;
    font-size: 17px;
    color: black;
}

ul li a:hover {
    color: #b3a5ff;
}

.nav-s {
    color: #b3a5ff;
}

.nav-s:hover {
    color: #7f69fd;
}

/* logo */
#logo {
    width: 100px;
    float: right;
    margin: 15px 70px 0px 120px;
}

.color-n {
    color: #b3a5ff;
}

.color-n:hover {
    color: #6559a7;
}

/* user image */
#user-img {
    width: 25px;
    margin: 19px 5px 0px 60px;
}

/* login and membership button */
.log-mem {
    text-decoration: none;
    color: #b3a5ff;
}

.log-mem:hover {
    color: #6559a7;
}

/* about-us - header */
.a-header {
    font-size: 30px;
    text-align: center;
    margin: 50px 0px 30px 0px;
    color: #ffffff;
    padding: 8px 0px 8px 0px;
    background-color: #b3a5ff;
}

/* header us */
.header-us{
    text-align: right;
    margin: 50px 5px 0px 0px;
    display: inline-block;
}

/* text */
.text{
    font-size: 18px;
    margin: 20px 100px 20px 60px;
    display: inline-block;
    line-height: 35px;
    text-align: justify;
}


/* team-box */
.team-box{
    width: 1500px;
    height: 350px;
}
/* team-members */
.team-members{
    width: 150px;
    height: 150px;
    background-color: #b3a5ff;
    margin: 50px 5px 0px 100px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 5px rgb(226, 226, 226);
}

/* img-us */
.img-us{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* team-members-information */
.text-t-m{
    width: 150px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgb(226, 226, 226);
    margin: 10px 0px 0px 100px;
    display: inline-block;
}

/* member-name */
.mem-name{
    text-align: center;
    padding-top: 10px;
}

/* member-job */
.mem-job{
    padding:5px; 
    text-align: center;
    color: #686868;
}

/* img-Certificate */
.img-Certificate{
    width: 200px;
    height: 130px;
    margin: 50px 50px 0px 0px;
    float: right;
}


/* footer-box */
#footer-box {
    width: 1500px;
    height: 450px;
    float: right;
    margin-top: 50px;
}

/* right box and middel box and left box */
#footer-box .f-box {
    width: 500px;
    height: 400px;
    float: left;
}

/* about us text - right box item */
.f-box h3 {
    margin: 80px 0px 0px 240px;
    color: #907cff;
}

/* footer-text */
.f-t-1 {
    font-size: 18px;
    margin: 0px 0px 0px 120px;
    color: #b3a5ff;
    display: inline;
}

.f-t-2 {
    font-size: 15px;
    padding: 20px 68px 0px 0px;
    color: rgb(115, 115, 115);
    direction: rtl;
    text-align: justify;
    line-height: 25px;
}

/* logo image-footer */
.f-logo {
    width: 110px;
    margin: 80px 0px 0px 330px;
    position: absolute;
}


/* site-part-middel box*/
.part-s {
    margin: 100px 0px 5px 215px;
    font-size: 18px;
    color: #b3a5ff;
}

.f-box a {
    text-decoration: none;
    display: block;
    color: #525252;
    text-align: right;
    margin: 0px 200px 0px 0px;
    font-size: 15px;
    line-height: 27px;
}

/* circle - middel box*/
.circle {
    margin: 9px 180px 0px 0px;
    width: 10px;
    float: right;
}

/* links-left box */
.links {
    font-size: 18px;
    color: #b3a5ff;
    display: inline;
    float: right;
    margin: 110px 70px 0px 0px;

}

/* telegram-instagram-whatsapp-icon - left box */
.t-i-w-icon img {
    width: 30px;
    float: right;
    margin: 108px 15px 0px 0px;
}