{% load static %}
<footer id="footer-box">

    <!-- left box -->
    <section class="f-box">

      <!-- telegram-instagram-whatsapp-icon -->
      <p class="links">راه های ارتباطی</p>
      <a href="#" class="t-i-w-icon"><img src="{% static 'fanavar/image/telegram.png' %}" alt="telegram"></a>
      <a href="#" class="t-i-w-icon"><img src="{% static 'fanavar/image/whatsapp.png' %}" alt="whatsapp"></a>
      <a href="#" class="t-i-w-icon"><img src="{% static 'fanavar/image/instagram.png' %}" alt="instagram"
          style="margin-left: 100px;"></a>


      <a href="tel:+989121234567" style="margin: 10px 0px 0px 225px; display: inline-block; color: #b3a5ff;">تماس با
        مشاورین ما 09121234567</a>
      <a href="#" style="margin: 10px 73px 0px 0px; color:#b3a5ff;">قوانین و مقررات</a>

      <img src="{% static 'fanavar/image/foot-left.jpg' %}" style="width: 600px; height: 230px;">
    </section>
    <!-- middle box -->
    <section class="f-box">

      <!-- site-part -->
      <p class="part-s">بخش های سایت</p>

      <!-- circle image and parts name -->
      <img src="{% static 'fanavar/image/circle.png' %}" alt="circle" class="circle">
      <a href="{% url 'demand-create' %}">دریافت مشاوره و سفارش پروژه</a>

      <img src="{% static 'fanavar/image/circle.png' %}" alt="circle" class="circle">
      <a href="{% url 'work-sampels' %}">مشاهده نمونه کارها</a>

      <img src="{% static 'fanavar/image/circle.png' %}" alt="circle" class="circle">
      <a href="{% url 'services' %}">خدمات ما</a>

      <img src="{% static 'fanavar/image/circle.png' %}" alt="circle" class="circle">
      <a href="{% url 'articels' %}">مقالات</a>

      <img src="{% static 'fanavar/image/circle.png' %}" alt="circle" class="circle">
      <a href="https://blog.fanavaranfartak.com/" target="_blank">آموزش ها</a>
    </section>

    <!-- right-box -->
    <section class="f-box">

      <!-- Logo image-fooret -->
      <img src="{% static 'fanavar/image/logo/logo-fanavar.png' %}" alt="Logo" class="f-logo">

      <!-- about us-text -->
      <h3>شرکت فناور</h3>

      <!-- footer-text -->
      <p class="f-t-1">طراحی سایت|طراحی گرافیک|سئو</p>
      <p class="f-t-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
        کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت
        فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
        خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائ
        ه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات
        پیوسته
        اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد
        استفاده قرار گیرد.</p>

    </section>
  </footer>