{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="yalda fazel">
    <link href="{% static 'fanavar/css/guide.css' %}" rel="stylesheet">
    <title>راهنما</title>
</head>

<body>

    <div id="site-body">
        <!-- header -->
        {% include 'fanavar/shared/header_base.html' %}

        <!-- about us - header -->
        <p class="a-header">راهنما</p>

        <article dir="rtl">



            <!-- The first paragraph -->
            <img src="{% static 'fanavar/image/s1.png' %}" alt="" width="30px" style="float: right; margin: 50px 60px 0px 5px;">

            <h2 class="header-us">مشاوره و سفارش پروژه</h2>

            <p class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                است، چاپگرها و متون
                بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                متنوع
                با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
                جامعه
                و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و
                فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                راهکارها،
                و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته
                اهل
                دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>




            <!-- The second paragraph -->
            <img src="{% static 'fanavar/image/s1.png' %}" alt="" width="30px" style="float: right; margin: 50px 60px 0px 5px;">

            <h2 class="header-us">ورود و ثبت نام</h2>

            <p class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                است، چاپگرها و متون
                بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                متنوع
                با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
                جامعه
                و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و
                فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                راهکارها،
                و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته
                اهل
                دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>





                 <!-- The third paragraph -->
            <img src="{% static 'fanavar/image/s1.png' %}" alt="" width="30px" style="float: right; margin: 50px 60px 0px 5px;">

            <h2 class="header-us">پشتیبانی</h2>

            <p class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                است، چاپگرها و متون
                بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                متنوع
                با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
                جامعه
                و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و
                فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                راهکارها،
                و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته
                اهل
                دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

        </article>



        


        <!-- footer-box -->
        {% include 'fanavar/shared/footer_base.html' %}

    </div>
    
    </body>

		<!-- footer-box -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        {% load sweetify %}
        {% sweetify %}
        </html>