{% load static %}
{% load render_partial %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en" dir="rtl">

<head>
    <!-- Required meta tags -->
      {% block header_style %} {% include 'dashboard/shared/header_style.html' %}{% endblock %}
    <title>{% block title %}

    ویرایش سفارش
        
        {% endblock %}</title>
</head>

<body class="rtl">
    <!--wrapper-->
    <div class="wrapper">
        <!--sidebar wrapper -->
       {% block sidbar_dashboard %}{% render_partial "dashboard_user:sidbar-dashboard" %} {% endblock %}
        <!--end sidebar wrapper -->
        <!--start header -->
        {% block header_dashboard %}    {% include 'dashboard/shared/header_dashboard.html' %}{% endblock %}
        <!--end header -->
        <!--start page wrapper -->
        <div class="page-wrapper">
            <div class="page-content">
                {% block body_dashboard %}
                <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3"><a href="{% url 'dashboard_user:servisees-dashboard' %}">درخواست ها</a></div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">ویرایش درخواست</li>
							</ol>
						</nav>
					</div>
				</div>
                <div class="card">
					<div class="row g-0" style="padding: 50px;">
                        
                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    {{ form.title|as_crispy_field}}
                                   </div>
                                   <div class="col">
                                    {{ form.full_name|as_crispy_field}}
                                  </div>
                                   <div class="col">
                                     {{ form.status|as_crispy_field}}
                                   </div>
                                 </div>
                                 <div class="row">
                                   <div class="col">
                                     {{ form.descriptions|as_crispy_field}}
                                   </div>
                                   </div>
                                   <div class="row">
                                     <div class="col">
                                       {{ form.phone_number|as_crispy_field}}
                                     </div>
                              <div class="row-md-6" style="text-align: center;margin: auto ;margin-top: 20px;">
                                <button  class="btn btn-primary">ثبت</button>
                                </div>
                              </div>
                      </form>
						
				</div>
				</div>

                {% endblock %}
            </div>
        </div>
        <!--end page wrapper -->
        <!--start overlay-->
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i
                class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            <p class="mb-0">کپی رایت © 2021. تمامی حقوق محفوظ است.</p>
        </footer>
    </div>
    <!--end wrapper-->
    <!--start switcher-->
    <div class="switcher-wrapper">
        <div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
        </div>
        <div class="switcher-body">
            <div class="d-flex align-items-center">
                <h5 class="mb-0 text-uppercase">سفارشی ساز قالب</h5>
                <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
            </div>
            <hr />
            <h6 class="mb-0">استایل های قالب</h6>
            <hr />
            <div class="d-flex align-items-center justify-content-between">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked>
                    <label class="form-check-label" for="lightmode">روشن</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="darkmode">
                    <label class="form-check-label" for="darkmode">تاریک</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="semidark">
                    <label class="form-check-label" for="semidark">نیمه تاریک</label>
                </div>
            </div>
            <hr />
            <div class="form-check">
                <input class="form-check-input" type="radio" id="minimaltheme" name="flexRadioDefault">
                <label class="form-check-label" for="minimaltheme">تِم مینیمال</label>
            </div>
            <hr />
            <h6 class="mb-0">رنگ هدر</h6>
            <hr />
            <div class="header-colors-indigators">
                <div class="row row-cols-auto g-3">
                    <div class="col">
                        <div class="indigator headercolor1" id="headercolor1"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor2" id="headercolor2"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor3" id="headercolor3"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor4" id="headercolor4"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor5" id="headercolor5"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor6" id="headercolor6"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor7" id="headercolor7"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor8" id="headercolor8"></div>
                    </div>
                </div>
            </div>
            <hr />
            <h6 class="mb-0">پس زمینه سایدبار</h6>
            <hr />
            <div class="header-colors-indigators">
                <div class="row row-cols-auto g-3">
                    <div class="col">
                        <div class="indigator sidebarcolor1" id="sidebarcolor1"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor2" id="sidebarcolor2"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor3" id="sidebarcolor3"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor4" id="sidebarcolor4"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor5" id="sidebarcolor5"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor6" id="sidebarcolor6"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor7" id="sidebarcolor7"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor8" id="sidebarcolor8"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end switcher-->
    <!-- Bootstrap JS -->
    {% block footer_refrense %}{% include 'dashboard/shared/footer_refrense.html' %}{% endblock %}
    <script>
        new PerfectScrollbar('.customers-list');
        new PerfectScrollbar('.store-metrics');
        new PerfectScrollbar('.product-list');
    </script>
    
</body>

</html>s